doctype html

block vars
    - var page = __('Kiritoc')

html
    head
        title=__('main title') + ' - ' + __(page)

        link(rel='stylesheet' href='/stylesheets/style.css')
        link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')

        script(type='text/javascript' src='/javascripts/jquery.min.js')
    body
        header
            .container
                h1.main-title
                    a(href="/", title= __('main title'), alt= __('main title'))=__('main title')
        .container
            include mixins
            block content

        block javascript

        //script(type="text/javascript").
            $(function () {
                $('.js-set-lang').click(function () {
                    document.cookie = "lang =" + $(this).attr('name');
                    location.reload();
                });
            });