mixin championBadge(img, points)
    .champion-badge
        img(src=img)
        #badge
        span.points=points

mixin category(title)
    .category.ribbon
        h3
            span=title
        .content
            if block
                block

mixin spinner()
    .spinner
        .rect1
        .rect2
        .rect3
        .rect4
        .rect5