mixin championBadge(img, points)
    .champion-badge
        img(src=img)
        #badge
        span.points=points

mixin category(title)
    .category.ribbon
        h3
            span=title
        .content
            if block
                block