@import 'mixins';

@primary-color: white;
@secondary-color: rgb(243, 123, 29);
@third-color: #333;
@fourth-color: #cfcfcf;

@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Carter+One');

body {
  cursor: default;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  background-color: @secondary-color !important;
}

h1.main-title {
  text-align: center;

  a {
    font-size: 5em;
    color: @primary-color;
    font-family: 'Bangers', cursive;
    text-decoration: none;
  }

  margin-bottom: 0;
}

h2.subtitle {
  text-align: center;
  font-size: 2.5em;
  color: @primary-color;
  font-family: 'Bangers', cursive;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 1em;
}

.hide-content {
  display: none;
}

footer {
  a, a:visited, p {
    color: fade(@primary-color, 75);
    text-decoration: none;
  }
  a:hover {
    color: fade(@primary-color, 50);
    text-decoration: none;
  }
}

.stats form.summoner {
  text-align: center;
  background: fade(@third-color, 25);
  width: 100%;
  padding: 20px 40px 20px 30px;
  border: 0;
  .border-radius(4px);
  .box-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));

  .search {
    position: relative;
    width: 100%;

    input {
      width: 100%;
      padding: 0 20px;
    }

    button {
      position: absolute;
      right: 0;
      top: 0;
      border: none;
      background: none;
      height: 100%;
    }
  }

  .regions {
    margin-top: 1em;
    background: rgba(255, 255, 255, 0.5);
    font-size: 0.75em;
    .border-radius(1em);

    .region {
      :checked + span {
        color: @secondary-color;
      }

      input {
        display: none;
      }
      padding: 0.5em 1em;
      //padding: 0 0.75em;
      margin: 0;
      vertical-align: middle;
      cursor: pointer
    }
  }
}

.current-summoner {
  font-family: 'Carter One', cursive;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}

.top-selections {
  .category:first-child {
    margin: 0 auto;
  }

  .category {
    margin: 10em auto;
    text-align: center;
    font: normal 12px/1.5 "Lucida Grande", arial, sans-serif;
    width: 100%;
    padding: 0 1em 0.5em;
    position: relative;
    color: #444;
    background: fade(@third-color, 75);
    border: 0.2em solid #d2d2d2;
    .border-radius(0.3em);
    .box-shadow(0 0.1em 0.3em rgba(0, 0, 0, 0.1));

    h3 {
      font-family: 'Bangers', cursive;
    }

    .content {
      .badges {
        min-height: 5em;
        list-style: none;

        display: flex;

        .flex-flow(row wrap);
        justify-content: space-around;

        .no-data {
          color: @fourth-color;
          font-family: cursive;
          font-size: 1.5em;
        }
      }

      color: @fourth-color;
    }
  }

  .champions-infos {
    margin-top: 5em;
    color: @fourth-color;
    font-family: 'Bangers', cursive;

    .champion-infos {
      text-align: start;
      .title {
        font-size: 1.5em;
      }
      .name {
        font-size: 3em;
      }
      .content {
        display: inline-block;
        font-size: 1.75em;
        p {
          display: inline-block;
          font-family: 'Carter One', cursive;
          font-size: 0.75em;
          margin: 1em;
        }
      }

      .subtitle {
        font-family: 'Carter One', cursive;
      }
    }
  }
}

/*********** BADGE ***********/

.champion-badge {
  position: relative;
  display: inline-block;

  .background {
    z-index: 1;
    position: relative;
    background: @fourth-color;
    height: 10em;
    width: 10em;
    .border-radius(5em);

    &:before,
    &:after {
      content: '';
      position: absolute;
      border-bottom: 7em solid @fourth-color;
      border-left: 4em solid transparent;
      border-right: 4em solid transparent;
      top: 8em;
      left: -1em;
      .transform(rotate(-140deg));
    }

    &:after {
      left: auto;
      right: -1em;
      .transform(rotate(140deg));
    }
  }

  img {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    .border-radius(20em);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 95%;
  }

  .points {
    color: @third-color;
    font-family: 'Bangers', cursive;
    position: absolute;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
  }
}

/*********** RIBBON ***********/

.ribbon, .partial-ribbon {
  padding: 0.25em 0.15em;
  color: @fourth-color;
  text-shadow: 0 1px 1px #111;
  border-top: 1px solid #363636;
  border-bottom: 1px solid #202020;
  background: @third-color;
  background: linear-gradient(top, #383838 0, #262626 100%);
  .border-radius(4px);
  .box-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
}

.partial-ribbon {
  padding-left: 0.5em;
}

.ribbon {
  display: block;
  width: 45%;
  margin: 0.5em 0;
  position: relative;
  left: -0.75em;
}

.ribbon::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -11px;
  z-index: -10;
  border: 5px solid;
  border-color: #242424 transparent transparent transparent;
}

.ribbon::before {
  left: 0;
}

.ribbon::after {
  right: 0;
}

.ribbon::before,
.ribbon::after {
  width: 10px;
  height: 10px;
  bottom: -4px;
  border: none;
  .border-radius(10px);
}

.ribbon::before {
  background: #363636;
  background: linear-gradient(left, #33aaf8 0%, #0674bb 100%);
}

.ribbon::after {
  background: #363636;
  background: linear-gradient(right, #33aaf8 0%, #0674bb 100%);
}

/*********** SPINNER ***********/

.spinner {
  margin: 0 auto;
  width: 50px;
  height: 40px;

  list-style: none;
  display: flex;

  .flex-flow(row wrap);
  justify-content: space-around;
}

.spinner > div {
  background-color: @fourth-color;
  height: 100%;
  width: 6px;
  display: inline-block;

  .animation(sk-stretchdelay 1.2s infinite ease-in-out);
}

.spinner .rect2 {
  .animation-delay(-1.1s);
}

.spinner .rect3 {
  .animation-delay(-1.0s);
}

.spinner .rect4 {
  .animation-delay(-0.9s);
}

.spinner .rect5 {
  .animation-delay(-0.8s);
}

.keyframes(sk-stretchdelay; { 0%, 40%, 100% {
  .transform(scaleY(0.4));
} 20% {
    .transform(scaleY(1.0));
  } });