extends ../layout

block content
    .stats
        h2=__("stats title")

        p=__("stats sub title")

        each object in data
            ul
                each value, key in object
                    li=key + ' : ' + value