extends ../layout

block content
    .stats
        h2=__("stats title")

        p=__("stats sub title")

        +category(__('stats category goal'))
            each champion in topGoal
                +championBadge(champion.image, champion.championLevel)

        +category(__('stats category random'))
            each champion in randomTop
                +championBadge(champion.image, champion.championLevel)

        +category(__('stats category less played'))
            each champion in lessPlayed
                +championBadge(champion.image, champion.championLevel)